In [46]:
import os
import pandas as pd
import gmaps
import googlemaps as g
import yaml
import numpy

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 20)
pd.set_option('display.notebook_repr_html', True)

# Loading dataset
df = pd.read_csv(os.path.join('..', 'datasets', 'Restaurant_Scores_-_LIVES_Standard.csv'))
df = df.set_index('business_id')

# d2 = pd.read_csv(os.path.join('..', 'datasets', 'nulls.csv'))

# Applying google credentials
# with open('google.yaml', 'r') as f:
#     google_credentials = yaml.load(f)

# google_api_key = google_credentials['api-key']
# gmaps.configure(api_key = google_api_key)

# googlemaps_api_key = google_credentials['api-key-gmaps']
# googmaps = g.Client(key=googlemaps_api_key)

df.head()

,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
business_id,,,,,,,,,,,,,,,,
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103145,Improper storage of equipment utensils or linens,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103154,Unclean or degraded floors walls or ceilings,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103144,Unapproved or unmaintained equipment or utensils,Low Risk
10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103129,Insufficient hot water or running water,Moderate Risk

In [47]:
#Concatenate address
df['address'] = df['business_address']+" "+ df['business_city'] 

#Dropping unnecessary address colums
df.drop(['business_address', 'business_city', 'business_state', 'business_postal_code', 'business_latitude', 'business_longitude', 'business_phone_number'], inplace = True, axis = 1)


df.head()

,business_name,business_location,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category,address
business_id,,,,,,,,,,
10,Tiramisu Kitchen,"(37.791116, -122.403816)",10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk,033 Belden Pl San Francisco
10,Tiramisu Kitchen,"(37.791116, -122.403816)",10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103145,Improper storage of equipment utensils or linens,Low Risk,033 Belden Pl San Francisco
10,Tiramisu Kitchen,"(37.791116, -122.403816)",10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103154,Unclean or degraded floors walls or ceilings,Low Risk,033 Belden Pl San Francisco
10,Tiramisu Kitchen,"(37.791116, -122.403816)",10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103144,Unapproved or unmaintained equipment or utensils,Low Risk,033 Belden Pl San Francisco
10,Tiramisu Kitchen,"(37.791116, -122.403816)",10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103129,Insufficient hot water or running water,Moderate Risk,033 Belden Pl San Francisco

In [49]:
# Nulls 
null_data = df[df['business_location'].isnull()]
null_data.head()

,business_name,business_location,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category,address
business_id,,,,,,,,,,
79782,Deli 23,NaN,79782_20160503,05/03/2016 12:00:00 AM,92.0,Routine - Unscheduled,79782_20160503_103120,Moderate risk food holding temperature,Moderate Risk,2449 23rd St San Francisco
76437,Sweetheart Cafe,NaN,76437_20160329,03/29/2016 12:00:00 AM,76.0,Routine - Unscheduled,76437_20160329_103113,Sewage or wastewater contamination,High Risk,909 Grant Ave San Francisco
88090,Hwaro,NaN,88090_20160729,07/29/2016 12:00:00 AM,NaN,New Construction,NaN,NaN,NaN,4516 Mission St San Francisco
81161,Limon Peruvian Rotisserie,NaN,81161_20160325,03/25/2016 12:00:00 AM,92.0,Routine - Unscheduled,81161_20160325_103149,Wiping cloths not clean or properly stored or ...,Low Risk,1001 South Van Ness Ave San Francisco
85781,Domino's #7764,NaN,85781_20160311,03/11/2016 12:00:00 AM,86.0,Routine - Unscheduled,85781_20160311_103124,Inadequately cleaned or sanitized food contact...,Moderate Risk,876 Geary St San Francisco

In [50]:
# Creating a dictionary of unique addresses
unique_address = null_data['address'].unique()
unique_address_df = pd.DataFrame(unique_address)
unique_address_df.head()

                                       0
0             2449 23rd St San Francisco
1            909 Grant Ave San Francisco
2          4516 Mission St San Francisco
3  1001 South Van Ness Ave San Francisco
4             876 Geary St San Francisco

In [45]:
# unique_address_df.to_csv('null_addresses.csv')

In [ ]:
df.join(df2, on=business_location, how = 'inner')
df