In [6]:
import os
import pandas as pd
import gmaps
import googlemaps as g
import yaml
import numpy
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline
plt.style.use('ggplot')

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 20)
pd.set_option('display.notebook_repr_html', True)

# Loading dataset
df = pd.read_csv(os.path.join('..', 'datasets', 'avg_inspection_scores_by_venue.csv'))
df = df.set_index('business_name')
df.drop(['Unnamed: 0'],inplace = True, axis = 1)
df.head()

                                                    location  inspection_score
business_name
Tiramisu Kitchen                    (37.791116, -122.403816)         87.400000
Nrgize Lifestyle Cafe               (37.786848, -122.421547)         94.000000
OMNI S.F. Hotel - 2nd Floor Pantry  (37.792888, -122.403135)         96.333333
Norman's Ice Cream and Freezes      (37.807155, -122.419004)         87.750000
CHARLIE'S DELI CAFE                 (37.747114, -122.413641)         83.200000

In [7]:
len(df)

5568

In [ ]:
# To get FS id, checkins
# https://api.foursquare.com/v2/venues/search?ll=37.791116, -122.403816&intent='match'&limit=1&query='tiramisu kitchen'&oauth_token=CG5FO24JIIR5103OGPZ1KYYBMWYHFKJFNAFK3213GSCPVYBN&v=20170804

# To get price rating, ratings, number of photos
# https://api.foursquare.com/v2/venues/4ae289b9f964a520e78e21e3?oauth_token=CG5FO24JIIR5103OGPZ1KYYBMWYHFKJFNAFK3213GSCPVYBN&v=20170804